@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #001b2e;
}

h1 {
  font-family: 'Oleo Script', cursive;
}

h2,
h3 {
  font-family: 'Bebas Neue', cursive;
  line-height: 36px;
  letter-spacing: 0.1em;
}

p {
  font-family: 'Manrope', sans-serif;
}
